html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: #222831;
}

#sketch {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
